# Nuxt dev/build outputs
.output
.nuxt
.cache

# i18n
i18n/locales/*

# Ignore Configuration
configuration/*

# Composer dependencies
composer.lock
vendor

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
