@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #1f6fed;
    --color-primary-content: white;
    --color-secondary: black;
    --color-secondary-content: white;
  }