.wave {
    --size: 40px;
    --R: calc(var(--size)*1.28);
    -webkit-mask:
        radial-gradient(var(--R) at 50% calc(1.8*var(--size)), #000 99%, #0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
        radial-gradient(var(--R) at 50% calc(-.8*var(--size)), #0000 99%, #000 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background: #1f6fed;
    height: 80px;
    rotate: 180deg;
}

.zigzag {
    height: 20px;
    width: 100%;
    background:
        linear-gradient(-135deg, transparent 5px, transparent 0) 0 5px,
        linear-gradient(135deg, transparent 5px, #fff 0) 0 5px;
    background-color: transparent;
    background-position: left bottom, left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px, 10px 10px;
}